html,
body {
  height: 100%;
  background-color: #F7F8F9;
}
body {
  color: #333;
}
.main >.container{
    min-height: 1000px;
}
.main-header{
    height: 140px;
    line-height: 140px;
}
.main-footer{
    height: 230px;
    line-height: 230px;
}
.main-header,.main-footer{
    text-align: center;
    color: #CCC;
    background-color: #FFF;
}
@media (min-width: 1200px){
    .container {
        width: 1240px;
    }
}